html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    background-color: #38d091;
    /*grid-template-rows: 70px auto;*/
    /*grid-template-columns: 200px auto;*/
}

header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px; 
    margin-right: 10px;   
}

#imagenlogo {
    height: 50px;
}

#formaquecontieneverde {
    background-color: #4f9779;
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
}

#formaquecontieneblanca {
    background-color: #ffffff;
    padding: 6px;
    border-radius: 25px 25px 25px 25px;
}

#primero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

#segundo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

#letragrande {
    font-size: 100px;
    color: #f2f5f4;
}


#cuadroblanco {
    background-color: #f2f5f4;
    padding-top: 300px;
    padding-bottom: 200px;
    padding-left: 750px;
    padding-right: 750px;
    border-radius: 25px 25px 25px 25px;
    margin: auto;
}
